
@{
    ViewData["Title"] = "CariDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model CariDetayView

<div class="row">
    <div class="col-md-10">
        <div class="cariBilgileri">
            <partial name="CariBilgileriPartial.cshtml" model="Model.CariBilgileri" />
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="ajax-table">
                    <partial name="~/Views/Fis/FisListPartial.cshtml" model="Model.CariFisleri" view-data='@new ViewDataDictionary(ViewData) { {"url","/Cari/CariDetay/"+Model.CariBilgileri.Id} }' />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2 w-100 justify-content-end text-left" data-toggle="modal" data-target="#fisEkle" data-post-url="/Fis/CariFisEkle/@Model.CariBilgileri.Id">
            <i class="icofont-paper"></i>Fis Ekle
        </button>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3 w-100 justify-content-end text-left" data-toggle="modal" data-target="#cariGuncelle" data-cari-id="@Model.CariBilgileri.Id" data-post-url="/Cari/CariGuncelle">
            <i class="icofont-people"></i>Cari Bilgileri Düzenle
        </button>
        <partial name="~/Views/Fis/FisSayisiPartial.cshtml" />
    </div>
</div>

<partial name="~/Views/Fis/FisEklePartial.cshtml" />
<partial name="~/Views/Fis/FisDetayPartial.cshtml" />
<partial name="CariGuncellePartial.cshtml" model="Model.CariBilgileri" />

@section scripts{

    <script>
        function kdvGetir() {

            var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: "/Kdv/Kdvler",
            dataType: "json",
            type: "post",
            headers: {
                "RequestVerificationToken": token
            },
            success: function (data) {
                var parseData = JSON.parse(data);
                var kdvSelectBoxlari = $(document).find(".kdvList");

                $.each(kdvSelectBoxlari, function (i, kdvSelect) {

                    $(kdvSelect).empty();

                    if ($(kdvSelect).data("selected-value") != null) {

                        var selectedIndex = $(kdvSelect).data("selected-value");
                        $.each(parseData, function (i, value) {
                            if (value.KDVOrani == selectedIndex) {
                                $(kdvSelect).append(`<option value="${value.KDVOrani}" selected >${value.KDVOrani} %</option>`)
                            } else {
                                $(kdvSelect).append(`<option value="${value.KDVOrani}" >${value.KDVOrani} %</option>`)
                            }
                        })


                    } else {
                        $.each(parseData, function (i, value) {
                            $(kdvSelect).append(`<option value="${value.KDVOrani}" >${value.KDVOrani} %</option>`)
                        })
                    }

                })
            }
        })
    }

        function fisSayisiGetir() {
            $.ajax({
            url: "/Cari/FisSayisiGetir/@Model.CariBilgileri.Id",
            dataType: "json",
            type: "Get",
            success: function (data) {
                var parseData = JSON.parse(data);
                $(".toplam-fis").text(parseData.ToplamFis);
                $(".faturasiz-fisler").text(parseData.FaturasizFisler);
                $(".acik-fisler").text(parseData.AcikFisler);
            }
        })
        }

        fisSayisiGetir();
        kdvGetir();

        $(document).on("update", function () {
            fisSayisiGetir();
        })






    </script>

}
